<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottle.pay.modules.biz.dao.BillInMapper">

    <select id="listForPage" resultType="com.bottle.pay.modules.biz.entity.BillInEntity">
        SELECT
        `id`,
        `create_time`,
        `last_update`,
        `merchant_name`,
        `merchant_id`,
        `bill_id`,
        `third_bill_id`,
        `ip`,
        `business_name`,
        `business_id`,
        `bill_status`,
        `price`,
        `bank_card_no`,
        `bank_name`,
        `bank_account_name`,
        `org_id`,
        `org_name`,
        `comment`
        FROM
        bill_in
        WHERE
        1=1
        <if test="merchantId != null"> AND `merchant_id` = #{merchantId}</if>
        <if test="orgId != null">AND  `org_id` = #{orgId}</if>
        <if test="businessId != null">AND `business_id` = #{businessId}</if>
        <if test="startTime != null">AND  `create_time` &gt; #{startTime}</if>
        <if test="endTime">AND  `create_time` &lt; #{endTime}</if>
        <if test="billStatus != null">AND  `bill_status` = #{billStatus}</if>
        <if test="billId != null">AND  `bill_id` = #{billId}</if>
        <if test="businessName != null">  AND `business_name` like CONCAT('%','${businessName}','%' ) </if>
        <if test="merchantName != null">  AND `merchant_name` like CONCAT('%','${merchantName}','%' ) </if>
        ORDER BY
        id DESC
    </select>

    <insert id="save">
        INSERT INTO bill_in (
        `create_time`,
        `last_update`,
        `merchant_name`,
        `merchant_id`,
        `bill_id`,
        `third_bill_id`,
        `ip`,
        `business_name`,
        `business_id`,
        `bill_status`,
        `price`,
        `bank_card_no`,
        `bank_name`,
        `bank_account_name`,
        `org_id`,
        `org_name`,
        `comment`
        )
        VALUES (
        #{createTime},
        #{lastUpdate},
        #{merchantName},
        #{merchantId},
        #{billId},
        #{thirdBillId},
        #{ip},
        #{businessName},
        #{businessId},
        #{billStatus},
        #{price},
        #{bankCardNo},
        #{bankName},
        #{bankAccountName},
        #{orgId},
        #{orgName},
        #{comment}
        )
    </insert>

    <select id="getObjectById" resultType="com.bottle.pay.modules.biz.entity.BillInEntity">
        SELECT
        `id`,
        `create_time`,
        `last_update`,
        `merchant_name`,
        `merchant_id`,
        `bill_id`,
        `third_bill_id`,
        `ip`,
        `business_name`,
        `business_id`,
        `bill_status`,
        `price`,
        `bank_card_no`,
        `bank_name`,
        `bank_account_name`,
        `org_id`,
        `org_name`,
        `comment`
        FROM
        bill_in
        WHERE
        id = #{id}
    </select>

    <update id="update">
        UPDATE bill_in
        <set>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="lastUpdate != null">`last_update` = #{lastUpdate},</if>
            <if test="merchantName != null">`merchant_name` = #{merchantName},</if>
            <if test="merchantId != null">`merchant_id` = #{merchantId},</if>
            <if test="billId != null">`bill_id` = #{billId},</if>
            <if test="thirdBillId != null">`third_bill_id` = #{thirdBillId},</if>
            <if test="ip != null">`ip` = #{ip},</if>
            <if test="businessName != null">`business_name` = #{businessName},</if>
            <if test="businessId != null">`business_id` = #{businessId},</if>
            <if test="billStatus != null">`bill_status` = #{billStatus},</if>
            <if test="price != null">`price` = #{price},</if>
            <if test="bankCardNo != null">`bank_card_no` = #{bankCardNo},</if>
            <if test="bankName != null">`bank_name` = #{bankName},</if>
            <if test="bankAccountName != null">`bank_account_name` = #{bankAccountName},</if>
            <if test="orgId != null">`org_id` = #{orgId},</if>
            <if test="orgName != null">`org_name` = #{orgName},</if>
            <if test="comment != null">`comment` = #{comment}</if>
        </set>
        WHERE
        id = #{id}
    </update>

    <delete id="batchRemove">
        DELETE
        FROM
        bill_in
        WHERE
        id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCountForPage" resultType="int">
        SELECT count(1)
        FROM bill_in
        WHERE
        1=1
        <if test="merchantId != null"> AND `merchant_id` = #{merchantId}</if>
        <if test="orgId != null">AND  `org_id` = #{orgId}</if>
        <if test="businessId != null">AND `business_id` = #{businessId}</if>
        <if test="startTime != null">AND  `create_time` &gt; #{startTime}</if>
        <if test="endTime">AND  `create_time` &lt; #{endTime}</if>
        <if test="billStatus != null">AND  `bill_status` = #{billStatus}</if>
        <if test="name != null">
            AND
            (
            `bank_account_name` like CONCAT('%','${name}','%' )
            or `business_name` like CONCAT('%','${name}','%' )
            )
        </if>
    </select>

    <select id="selectPage" resultType="com.bottle.pay.modules.biz.entity.BillInEntity">
        SELECT
        `id`,
        `create_time`,
        `last_update`,
        `merchant_name`,
        `merchant_id`,
        `bill_id`,
        `third_bill_id`,
        `ip`,
        `business_name`,
        `business_id`,
        `bill_status`,
        `price`,
        `bank_card_no`,
        `bank_name`,
        `bank_account_name`,
        `org_id`,
        `org_name`,
        `comment`
        FROM bill_in
        WHERE
        1=1
        <if test="merchantId != null"> AND `merchant_id` = #{merchantId}</if>
        <if test="orgId != null">AND  `org_id` = #{orgId}</if>
        <if test="businessId != null">AND `business_id` = #{businessId}</if>
        <if test="startTime != null">AND  `create_time` &gt; #{startTime}</if>
        <if test="endTime">AND  `create_time` &lt; #{endTime}</if>
        <if test="billStatus != null">AND  `bill_status` = #{billStatus}</if>
        <if test="name != null">
            AND
            (
            `bank_account_name` like CONCAT('%','${name}','%' )
             or `business_name` like CONCAT('%','${name}','%' )
            )
        </if>
        ORDER BY create_time DESC
        limit #{offSet},#{pageSize}
    </select>
</mapper>