@layout("../../system/layout.html", {title: "ip编辑"}){
<table class="form" id="form">
    <!--<tr>-->
        <!--<td class="formTitle">1: 白名单 ； 0：黑名单<font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="1: 白名单 ； 0：黑名单" v-model="ipLimit.isWhite" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="formTitle"><font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="" v-model="ipLimit.createTime" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="formTitle"><font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="" v-model="ipLimit.lastUpdate" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->

    <tr>
        <td class="formTitle">商户对应服务器<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户对应服务器" v-model="ipLimit.serverIp" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">商户登录后台的电脑<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户登录后台的电脑" v-model="ipLimit.clientIp" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/modules/iplimit/edit.js"></script>
@}