@layout("../../system/layout.html", {title: "新增银行卡"}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">银行卡号<font face="宋体">*</font></td>
        <td class="formValue">
            <input  style="width: 200px;" type="text" class="form-control" placeholder="8888888888888888888" v-model="bankCard.bankCardNo" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">银行名称<font face="宋体">*</font></td>
        <td class="formValue">
            <input  style="width: 200px;" type="text" class="form-control" placeholder="中国银行" v-model="bankCard.bankName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">银行卡用户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input  style="width: 200px;" type="text" class="form-control" placeholder="张三" v-model="bankCard.bankAccountName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
<!--    <tr>-->
<!--        <td class="formTitle">单日转账限额<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input  style="width: 200px;" type="text" class="form-control" placeholder="" v-model="bankCard.balanceDailyLimit" isvalid="yes" checkexpession="NotNull" value="50000">-->
<!--        </td>-->
<!--    </tr>-->
</table>
<script src="${ctxPath}/static/js/modules/bankCard/add.js"></script>
@}