@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">

    <tr>
        <td class="formTitle">商户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户名" v-model="billOut.merchantName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">商户ID<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户ID" v-model="billOut.merchantId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">订单号<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="订单号" v-model="billOut.orderNo" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">账单金额<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="账单金额" v-model="billOut.price" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">付款会员的卡号<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="付款会员的卡号" v-model="billOut.bankCardNo" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">银行名称<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="银行名称" v-model="billOut.bankName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">银行卡用户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="付款用户名" v-model="billOut.bankAccountName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/modules/billOut/add.js"></script>
@}