@layout("../../system/layout.html", {title: "指定出款员"}){
<div class="row">
    <div class="col-md-4 form-inline pull-left" style="width: 88%;">
            <input  id="businessName" \@keyup.enter="load" type="text" class="form-control" placeholder="付款专员姓名" style="width: 100px;" />
        <div class="form-group">
            <a class="btn btn-primary" \@click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
        </div>
    <!--<div class="col-md-8" style="width: 12%;">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a v-if="hasPermission('apiV1:billOut:list')" class="btn btn-default" onclick="reload();" title="刷新" ><i class="fa fa-refresh"></i></a>
                <a v-if="hasPermission('apiV1:billOut:save')" class="btn btn-default" \@click="save" title="保存"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>-->
    </div>
</div>
<div class="row">
    <table id="dataGrid"></table>
</div>
<script src="${ctxPath}/static/js/modules/billOut/appointHuman.js"></script>
@}