@layout("../../system/layout.html", {title: "代付订单"}){
<div class="row">
    <div class="col-md-4 form-inline pull-left" style="width: 75%;">
            <input  id="createTime"  class="form-control" type="date" style="width: 140px;"/>
            <input  id="merchantName" \@keyup.enter="load" type="text" class="form-control" placeholder="商户名" style="width: 100px;" />
            <input  id="businessName" \@keyup.enter="load" type="text" class="form-control" placeholder="付款专员姓名" style="width: 100px;" />
            <input  id="bankAccountName"  \@keyup.enter="load" type="text" class="form-control" placeholder="会员名" style="width: 100px;" />
            <input  id="thirdBillId"  \@keyup.enter="load" type="text" class="form-control" placeholder="第三方订单号" style="width: 180px;" />
            <input  id="billId"  \@keyup.enter="load" type="text" class="form-control" placeholder="订单号" style="width: 180px;" />
            订单状态:&nbsp;&nbsp;&nbsp;
                <select  id="billStatus"  class="form-control"  style="width: 100px;" >
                    <option value=""  style="display:none">请选择</option>
                    <option value="1">未支付</option>
                    <option value="2">成功</option>
                    <option value="3">失败</option>
                </select>
            通知:&nbsp;&nbsp;&nbsp;
                <select  id="notice"  class="form-control"  style="width: 100px;" >
                    <option value=""  style="display:none">请选择</option>
                    <option value="1">未通知</option>
                    <option value="2">已通知</option>
                    <option value="3">通知失败</option>
                </select>

            派单类型:&nbsp;&nbsp;&nbsp;
                <select  id="billType"   class="form-control"  style="width: 100px;" >
                    <option value=""  style="display:none">请选择</option>
                    <option value="1">手动</option>
                    <option value="2">自动</option>
                    <option value="3">大额</option>
                    <option value="4">订单退回机构</option>
                </select>
        <div class="form-group">
            <a class="btn btn-primary" \@click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
        </div>
    <div class="col-md-8" style="width: 25%;">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a v-if="hasPermission('apiV1:billOut:list')" class="btn btn-default" onclick="reload();" title="刷新" ><i class="fa fa-refresh"></i></a>
                <a v-if="hasPermission('apiV1:billOut:save')" class="btn btn-default" \@click="save" title="添加出款订单"><i class="fa fa-plus"></i></a>
                <a v-if="hasPermission('apiV1:billOut:list')" class="btn btn-default" title="点击开启声音" ><audio id="reminder" src="${ctxPath}/static/resources/reminder.mp3" controls="controls" style="width: 120px;height: 15px"></audio></a>
                <a v-if="hasPermission('apiV1:billOut:appoint:people')" class="btn btn-default" \@click="excel" title="下载"><i class="fa fa-file-excel-o"></i></a>
            </div>
        </div>
    </div>
    </div>

</div>
<div class="row">
    <table id="dataGrid"></table>
</div>
<script src="${ctxPath}/static/js/modules/billOut/list.js"></script>
@}