@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <!--<tr>-->
        <!--<td class="formTitle">转出专员ID<font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="" v-model="balanceProcurement.outBusinessId" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
    <tr >
        <td class="formTitle" style="width: 100px;"> 转出专员<font face="宋体">*</font></td>
        <td class="formValue" style="width: 350px;">
        <select  style="width: 200px;"  v-model="balanceProcurement.outBusinessId" id="outBusiness"  class="form-control"   style="width: 100px;" >
            <option value="-1"  style="display:none">请选择</option>
        </select>
        </td>
    </tr>
    <tr>
        <td class="formTitle" style="width: 250px;">出款银行卡<font face="宋体">*</font></td>
        <td class="formValue" style="width: 350px;">
            <select  style="width: 350px;" v-model="balanceProcurement.outBankCardNo" id="outBankCard"  class="form-control" \@click="outBankCard()"  style="width: 100px;" >
                <option value="-1"  style="display:none">请选择</option>
            </select>
        </td>
    </tr>

    <!--<tr>-->
        <!--<td class="formTitle">转入专员专员ID<font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="付款专员ID" v-model="balanceProcurement.inBusinessId" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
    <tr>
        <td class="formTitle" style="width: 100px;">账单金额<font face="宋体">*</font></td>
        <td class="formValue" style="width: 350px;">
            <input type="text" class="form-control" placeholder="账单金额" v-model="balanceProcurement.price" isvalid="yes" checkexpession="NotNull" style="width: 200px;">
        </td>
    </tr>
    <!--<tr>-->
        <!--<td class="formTitle"><font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="" v-model="balanceProcurement.createTime" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="formTitle"><font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="" v-model="balanceProcurement.lastUpdate" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="formTitle">代理商id<font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="代理商id" v-model="balanceProcurement.orgId" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
    <tr>
        <td class="formTitle" style="width: 100px;">转入专员<font face="宋体">*</font></td>
        <td class="formValue" style="width: 350px;">
            <select  style="width: 200px;"  v-model="balanceProcurement.inBusinessId" id="inBusiness"  class="form-control"  style="width: 100px;" >
                <option value="-1"  style="display:none">请选择</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="formTitle" style="width: 100px;">入款银行卡<font face="宋体">*</font></td>
        <td class="formValu e" style="width: 350px;">
            <select  style="width: 350px;" v-model="balanceProcurement.inBankCardNo" id="inBankCard"  class="form-control" \@click="inBankCard()"  style="width: 100px;" >
                <option value="-1"  style="display:none">请选择</option>
            </select>
        </td>
    </tr>
    <!--<tr>-->
        <!--<td class="formTitle">银行名称<font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="银行名称" v-model="balanceProcurement.inBankName" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td class="formTitle">银行名称<font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="银行名称" v-model="balanceProcurement.outBankName" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
</table>
<script src="${ctxPath}/static/js/modules/procurement/add.js"></script>
@}