@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <!--<tr>-->
        <!--<td class="formTitle">第三方订单号</td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="第三方订单号" v-model="billIn.thirdBillId" isvalid="yes">-->
        <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td class="formTitle">第三方订单服务器ip<font face="宋体">*</font></td>-->
        <!--<td class="formValue">-->
            <!--<input type="text" class="form-control" placeholder="第三方订单派发服务器ip" v-model="billIn.ip" isvalid="yes" checkexpession="NotNull">-->
        <!--</td>-->
    <!--</tr>-->
    <tr>
        <td class="formTitle">充值金额<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="充值金额" v-model="billIn.price" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>


    <tr>
        <td class="formTitle">备注</td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="billIn.comment" isvalid="yes">
        </td>
    </tr>

    <!--联动选择专员以及专员银行卡-->
    <tr>
        <td class="formTitle" style="width: 100px;">出款专员<font face="宋体">*</font></td>
        <td class="formValue" style="width: 350px;">
            <select  style="width: 130px;"  v-model="billIn.businessId" id="businessId"  class="form-control" >
                <option value="-1"  style="display:none">请选择</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="formTitle" style="width: 100px;">出款银行卡<font face="宋体">*</font></td>
        <td class="formValue" style="width: 350px;">
            <select  style="width: 200px;" v-model="billIn.bankCardNo" id="bankCardNo"  class="form-control" \@click="bankCard()"  >
                <option value="-1"  style="display:none">请选择</option>
            </select>
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/modules/billIn/add.js"></script>
@}