@layout("../../system/layout.html", {title: ""}){
<div class="row">
    <div class="col-md-4 form-inline pull-left" style="width: 88%;">
        <div class="form-group">
            <input  id="createTime"  class="form-control" type="date" style="width: 140px;"/>
            <input id="businessName" \@keyup.enter="load" type="text" class="form-control" placeholder="付款专员姓名" style="width: 220px;" />
            <input id="billId" \@keyup.enter="load" type="text" class="form-control" placeholder="订单号" style="width: 220px;" />
            <input id="merchantName" \@keyup.enter="load" type="text" class="form-control" placeholder="商户名" style="width: 220px;" />
            <div class="form-group">
                <a class="btn btn-primary" \@click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
            </div>
        </div>
    </div>
    <div class="col-md-8"  style="width: 12%;">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                <a class="btn btn-default" \@click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
                <a class="btn btn-default" \@click="excel" title="下载"><i class="fa fa-file-excel-o"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table id="dataGrid"></table>
</div>
<script src="${ctxPath}/static/js/modules/billIn/list.js"></script>
@}