@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="businessMerchant.createTime" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="businessMerchant.lastUpdate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">商户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户名" v-model="businessMerchant.merchantName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">商户ID<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户ID" v-model="businessMerchant.merchantId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">付款专员姓名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="付款专员姓名" v-model="businessMerchant.businessName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">付款专员ID<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="付款专员ID" v-model="businessMerchant.businessId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">代理商id<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="代理商id" v-model="businessMerchant.orgId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">代理商姓名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="代理商姓名" v-model="businessMerchant.orgName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/modules/businessMerchant/edit.js"></script>
@}