@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">商户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户名" v-model="frozenDetail.merchantName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"></td>
        <td class="formValue">
            <input type="text" style="display:none" class="form-control" placeholder="商户ID" v-model="frozenDetail.merchantId" isvalid="no" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">冻结余额<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="冻结余额" v-model="frozenDetail.balanceFrozen" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">解冻余额</td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="解冻余额" v-model="frozenDetail.balanceUnfrozen" isvalid="yes" >
        </td>
    </tr>
    <tr>
        <td class="formTitle">付款会员的卡号<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="付款会员的卡号" v-model="frozenDetail.bankCardNo" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">银行名称<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="银行名称" v-model="frozenDetail.bankName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">付款用户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="付款用户名" v-model="frozenDetail.bankAccountName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle"></td>
        <td class="formValue">
            <input type="text" style="display:none" class="form-control" placeholder="代理商id" v-model="frozenDetail.orgId" isvalid="no" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">代理商姓名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="代理商姓名" v-model="frozenDetail.orgName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">付款专员姓名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="付款专员姓名" v-model="frozenDetail.businessName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"></td>
        <td class="formValue">
            <input type="text" style="display:none" class="form-control" placeholder="付款专员ID" v-model="frozenDetail.businessId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/modules/frozen/add.js"></script>
@}