<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottle.pay.modules.api.dao.BillOutMapper">
	
	<select id="listForPage" resultType="com.bottle.pay.modules.api.entity.BillOutEntity">
		SELECT
			`id`, 
			`create_time`, 
			`last_update`, 
			`merchant_name`, 
			`merchant_id`, 
			`bill_id`, 
			`third_bill_id`, 
			`ip`, 
			`business_name`, 
			`business_id`, 
			`bill_status`, 
			`notice`, 
			`price`, 
			`bank_card_no`, 
			`bank_name`, 
			`bank_account_name`, 
			`bill_type`, 
			`org_id`,
			`org_name`,
			`position`
		FROM
			bill_out
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO bill_out (
			`create_time`, 
			`last_update`, 
			`merchant_name`, 
			`merchant_id`, 
			`bill_id`, 
			`third_bill_id`, 
			`ip`, 
			`business_name`, 
			`business_id`, 
			`bill_status`, 
			`notice`, 
			`price`, 
			`bank_card_no`, 
			`bank_name`, 
			`bank_account_name`, 
			`bill_type`, 
			`org_id`,
			`org_name`,
			`position`
		)
		VALUES (
			#{createTime}, 
			#{lastUpdate}, 
			#{merchantName}, 
			#{merchantId}, 
			#{billId}, 
			#{thirdBillId}, 
			#{ip}, 
			#{businessName}, 
			#{businessId}, 
			#{billStatus}, 
			#{notice}, 
			#{price}, 
			#{bankCardNo}, 
			#{bankName}, 
			#{bankAccountName}, 
			#{billType}, 
			#{orgId},
			#{orgName},
			#{position}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.bottle.pay.modules.api.entity.BillOutEntity">
		SELECT
			`id`, 
			`create_time`, 
			`last_update`, 
			`merchant_name`, 
			`merchant_id`, 
			`bill_id`, 
			`third_bill_id`, 
			`ip`, 
			`business_name`, 
			`business_id`, 
			`bill_status`, 
			`notice`, 
			`price`, 
			`bank_card_no`, 
			`bank_name`, 
			`bank_account_name`, 
			`bill_type`, 
			`org_id`,
			`org_name`,
			`position`
		FROM
			bill_out
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE bill_out
	 	<set>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="lastUpdate != null">`last_update` = #{lastUpdate}, </if>
			<if test="merchantName != null">`merchant_name` = #{merchantName}, </if>
			<if test="merchantId != null">`merchant_id` = #{merchantId}, </if>
			<if test="billId != null">`bill_id` = #{billId}, </if>
			<if test="thirdBillId != null">`third_bill_id` = #{thirdBillId}, </if>
			<if test="ip != null">`ip` = #{ip}, </if>
			<if test="businessName != null">`business_name` = #{businessName}, </if>
			<if test="businessId != null">`business_id` = #{businessId}, </if>
			<if test="billStatus != null">`bill_status` = #{billStatus}, </if>
			<if test="notice != null">`notice` = #{notice}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="bankCardNo != null">`bank_card_no` = #{bankCardNo}, </if>
			<if test="bankName != null">`bank_name` = #{bankName}, </if>
			<if test="bankAccountName != null">`bank_account_name` = #{bankAccountName}, </if>
			<if test="billType != null">`bill_type` = #{billType}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="orgName != null">`org_name` = #{orgName}, </if>
			<if test="position != null">`position` = #{position}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			bill_out
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="sumByBusinessId" resultType="java.math.BigDecimal">
		select sum(price) price from bill_out where business_id= #{businessId} and bill_status = 1 ;
	</select>
</mapper>