<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottle.pay.modules.api.dao.BusinessMerchantMapper">
	
	<select id="listForPage" resultType="com.bottle.pay.modules.api.entity.BusinessMerchantEntity">
		SELECT
			`id`, 
			`create_time`, 
			`last_update`, 
			`merchant_name`, 
			`merchant_id`, 
			`business_name`, 
			`business_id`, 
			`org_id`, 
			`org_name`
		FROM
			business_merchant
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO business_merchant (
			`id`, 
			`create_time`, 
			`last_update`, 
			`merchant_name`, 
			`merchant_id`, 
			`business_name`, 
			`business_id`, 
			`org_id`, 
			`org_name`
		)
		VALUES (
			#{id}, 
			#{createTime}, 
			#{lastUpdate}, 
			#{merchantName}, 
			#{merchantId}, 
			#{businessName}, 
			#{businessId}, 
			#{orgId}, 
			#{orgName}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.bottle.pay.modules.api.entity.BusinessMerchantEntity">
		SELECT
			`id`, 
			`create_time`, 
			`last_update`, 
			`merchant_name`, 
			`merchant_id`, 
			`business_name`, 
			`business_id`, 
			`org_id`, 
			`org_name`
		FROM
			business_merchant
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE business_merchant
	 	<set>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="lastUpdate != null">`last_update` = #{lastUpdate}, </if>
			<if test="merchantName != null">`merchant_name` = #{merchantName}, </if>
			<if test="merchantId != null">`merchant_id` = #{merchantId}, </if>
			<if test="businessName != null">`business_name` = #{businessName}, </if>
			<if test="businessId != null">`business_id` = #{businessId}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="orgName != null">`org_name` = #{orgName}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			business_merchant
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>