<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottle.pay.modules.api.dao.OnlineBusinessMapper">
	
	<select id="listForPage" resultType="com.bottle.pay.modules.api.entity.OnlineBusinessEntity">
		SELECT
			`id`, 
			`org_id`,
			`org_name`,
			`business_name`, 
			`business_id`, 
			`position`
		FROM
			online_business
		ORDER BY
			id DESC
	</select>
	
	<!--<insert id="save">-->
		<!--INSERT INTO online_business (-->
			<!--`org_id`,-->
			<!--`org_name`,-->
			<!--`business_name`, -->
			<!--`business_id`, -->
			<!--`position`-->
		<!--)-->
		<!--VALUES (-->
			<!--#{orgId},-->
			<!--#{orgName},-->
			<!--#{businessName}, -->
			<!--#{businessId}, -->
			<!--#{position}-->
		<!--)-->
	<!--</insert>-->
	
	<select id="getObjectById" resultType="com.bottle.pay.modules.api.entity.OnlineBusinessEntity">
		SELECT
			`id`, 
			`org_id`,
			`org_name`,
			`business_name`, 
			`business_id`, 
			`position`
		FROM
			online_business
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE online_business
	 	<set>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="orgName != null">`org_name` = #{orgName}, </if>
			<if test="businessName != null">`business_name` = #{businessName}, </if>
			<if test="businessId != null">`business_id` = #{businessId}, </if>
			<if test="position != null">`position` = #{position}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			online_business
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="nextOnlineBusiness" resultType="com.bottle.pay.modules.api.entity.OnlineBusinessEntity">
		SELECT
			   `id`,
			   `agent_id`,
			   `agent_name`,
			   `business_name`,
			   `business_id`,
			   `position`
		FROM
			 online_business
		WHERE
				org_id = #{orgId} and position > #{position} limit 1
	</select>
	<select id="firstOnlineBusiness" resultType="com.bottle.pay.modules.api.entity.OnlineBusinessEntity">
		SELECT
			   `id`,
			   `org_id`,
			   `org_name`,
			   `business_name`,
			   `business_id`,
			   `position`
		FROM
			 online_business
		WHERE
				org_id = #{orgId}
		order by position asc
		limit 1
	</select>

	<insert id="online">
		INSERT  INTO online_business
		(org_id,org_name,business_name,business_id,position)
		VALUES
		(
		#{orgId},
		#{orgName},
		#{businessName},
		#{businessId},
		(SELECT IFNULL(max(position),0) FROM online_business t)+1
		)
	</insert>

    <delete id="offline">
        DELETE FROM
        online_business
        WHERE business_id = #{businessId}
    </delete>

</mapper>