<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottle.pay.modules.api.dao.ReportBusinessMapper">
	
	<select id="listForPage" resultType="com.bottle.pay.modules.api.entity.ReportBusinessEntity">
		SELECT
			`id`, 
			`create_time`, 
			`last_update`, 
			`org_id`, 
			`org_name`, 
			`result_date`, 
			`business_name`, 
			`business_id`, 
			`total_pay_count`, 
			`total_pay_sum`
		FROM
			report_business
		where 1=1
		<if test="createTime != null"> and `create_time` = #{createTime} </if>
		<if test="lastUpdate != null"> and `last_update` = #{lastUpdate} </if>
		<if test="orgId != null"> and `org_id` = #{orgId}</if>
		<if test="orgName != null"> and `org_name` = #{orgName} </if>
		<if test="resultDate != null"> and `result_date` = #{resultDate}</if>
		<if test="businessName != null"> and `business_name` = #{businessName}</if>
		<if test="businessId != null"> and `business_id` = #{businessId} </if>
		<if test="totalPayCount != null"> and `total_pay_count` = #{totalPayCount} </if>
		<if test="totalPaySum != null"> and `total_pay_sum` = #{totalPaySum}</if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO report_business (
			`create_time`, 
			`last_update`, 
			`org_id`, 
			`org_name`, 
			`result_date`, 
			`business_name`, 
			`business_id`, 
			`total_pay_count`, 
			`total_pay_sum`
		)
		VALUES (
			#{createTime}, 
			#{lastUpdate}, 
			#{orgId}, 
			#{orgName}, 
			#{resultDate}, 
			#{businessName}, 
			#{businessId}, 
			#{totalPayCount}, 
			#{totalPaySum}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.bottle.pay.modules.api.entity.ReportBusinessEntity">
		SELECT
			`id`, 
			`create_time`, 
			`last_update`, 
			`org_id`, 
			`org_name`, 
			`result_date`, 
			`business_name`, 
			`business_id`, 
			`total_pay_count`, 
			`total_pay_sum`
		FROM
			report_business
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE report_business
	 	<set>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="lastUpdate != null">`last_update` = #{lastUpdate}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="orgName != null">`org_name` = #{orgName}, </if>
			<if test="resultDate != null">`result_date` = #{resultDate}, </if>
			<if test="businessName != null">`business_name` = #{businessName}, </if>
			<if test="businessId != null">`business_id` = #{businessId}, </if>
			<if test="totalPayCount != null">`total_pay_count` = #{totalPayCount}, </if>
			<if test="totalPaySum != null">`total_pay_sum` = #{totalPaySum}</if>
		</set>
		WHERE
			id = #{id}
	</update>


	<select id="selectForUpdate" resultType="com.bottle.pay.modules.api.entity.ReportBusinessEntity">
		SELECT
		`id`,
		`create_time`,
		`last_update`,
		`org_id`,
		`org_name`,
		`result_date`,
		`business_name`,
		`business_id`,
		`total_pay_count`,
		`total_pay_sum`
		FROM
		report_business
		where
		`business_id` = #{businessId} and `result_date` = #{resultDate}
		for update

	</select>
	<update id="increase">
		UPDATE report_business
		<set>
			`total_pay_count` = total_pay_count +1 ,`total_pay_sum` = total_pay_sum + #{price}
		</set>
		WHERE
		`business_id` = #{businessId} and `result_date` = #{resultDate} and `total_pay_sum` = #{totalPaySum}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			report_business
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="selectForSum" resultType="com.bottle.pay.modules.api.entity.ReportBusinessEntity">
		SELECT
			   count(1) total_pay_count,
			   SUM(price) total_pay_sum,
			   business_id,
			   business_name,
			   org_id,
			   org_name,
			   DATE_FORMAT(last_update, '%Y-%m-%d') result_date,
			   now() last_update
		FROM
			 bill_out
		WHERE
			 bill_status = 2 and create_time <![CDATA[ > ]]> #{createTime} and create_time <![CDATA[ <= ]]> #{createTime}
		GROUP BY
			 business_id,
			 DATE_FORMAT(last_update, '%Y-%m-%d');
	</select>

</mapper>