@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="billInPlayer.createTime" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="billInPlayer.lastUpdate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">商户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户名" v-model="billInPlayer.merchantName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">商户ID<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="商户ID" v-model="billInPlayer.merchantId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">订单号：商户id+时间戳 + 4位自增<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="订单号：商户id+时间戳 + 4位自增" v-model="billInPlayer.billId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">第三方订单号<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="第三方订单号" v-model="billInPlayer.thirdBillId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">第三方订单派发服务器ip<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="第三方订单派发服务器ip" v-model="billInPlayer.ip" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">收款专员姓名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="收款专员姓名" v-model="billInPlayer.businessName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">收款专员ID<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="收款专员ID" v-model="billInPlayer.businessId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">收款的卡号(或二维码地址)<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="收款的卡号(或二维码地址)" v-model="billInPlayer.businessBankCardNo" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">银行名称(Alipay,WechatPay)<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="银行名称(Alipay,WechatPay)" v-model="billInPlayer.businessBankName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">订单状态：  1未支付 2 成功 3 失败<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="订单状态：  1未支付 2 成功 3 失败" v-model="billInPlayer.billStatus" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">账单金额<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="账单金额" v-model="billInPlayer.price" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">付款用户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="付款用户名" v-model="billInPlayer.playerAccountName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">代理商id<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="代理商id" v-model="billInPlayer.orgId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">代理商姓名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="代理商姓名" v-model="billInPlayer.orgName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="billInPlayer.comment" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">支付方式<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="支付方式" v-model="billInPlayer.billInPlayerType" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/modules/billInPlayer/edit.js"></script>
@}