@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="ipLimit.ipList" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">代理商id<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="代理商id" v-model="ipLimit.agentId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">代理商姓名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="代理商姓名" v-model="ipLimit.agentName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">1: 白名单 ； 0：黑名单<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1: 白名单 ； 0：黑名单" v-model="ipLimit.isWhite" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="ipLimit.createTime" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="ipLimit.lastUpdate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">1:商户对应服务器 2 商户登录后台的电脑<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1:商户对应服务器 2 商户登录后台的电脑" v-model="ipLimit.type" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/modules/iplimit/edit.js"></script>
@}